.list
{
    list-style-type: none;
    padding-left: 10px;
    background-color: bisque;
    overflow: auto;
    height: 750px;

}

.selectionlist {
   background-color: lightgray;
   padding: 0px;
   margin-left: 0px;
   width: 11%;
   float: left;
   height: 820px;


}
.drafted{

    width: 88%;
    height: 820px;
    float: left;
}


.col-team {
    display: inline-block;
    width: 9.65%;
    vertical-align: top;
}



li.avail {
 margin-bottom: 8px;
 cursor: pointer;

}


li:hover {
 background-color: darkgoldenrod;
}

.RB{
    padding-left: 5px;
    border-left: solid 10px red;
}
.WR{
    padding-left: 5px;
    border-left: solid 10px green;
}
.TE{
    padding-left: 5px;
    border-left: solid 10px black;
}
.QB{
    padding-left: 5px;
    border-left: solid 10px Blue;
}
.DEF{
    padding-left: 5px;
    border-left: solid 10px white;
}
.K{
    padding-left: 5px;
    border-left: solid 10px Pink;
}





.selection{
width: 45%;
height: 250px;
background: GREEN;
float: left;

}

.roundInfo{
    float: right;
    width: 55%;
    height: 250px;
    background: Blue;

}

.draftbtn {

    margin-left: 60%;
}

.search-width {
    padding: 2%;
}

