ul
{
    list-style-type: none;
    padding-left: 10px;
    background-color: bisque;
    overflow: auto;
    height: 750px;

}

.selectionlist {
   background-color: red;
   padding: 0px;
   margin-left: 0px;
   width: 12%;
   float: left;
   height: 820px;


}
.drafted{
    background-color: darkgray;
    width: 88%;
    height: 820px;
    float: left;
}


li{
 margin-bottom: 8px;
 cursor: pointer;
}
li:hover {
 background-color: darkgoldenrod;
}

.selection{
width: 45%;
height: 250px;
background: GREEN;
float: left;

}

.roundInfo{
    float: right;
    width: 55%;
    height: 250px;
    background: Blue;

}

.draftbtn {

    margin-left: 60%;
}
